# Бинарники результатов
*.bin
*.exe
*.o
*.mod

# Временные файлы Word
~\$*.docx
~\$*.doc

# Файлы с расширением .tmp
*.tmp

# Дополнительно: скрытые файлы автосохранения Word
._*.docx
._*.doc

# Python
__pycache__/
*.pyc

# VS Code
.vscode/
